[Unit]
Description=WireGuard watchdog
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/wg-watchdog
Environment=CONFIG_FILE=/etc/wg-watchdog/config.env

[Install]
WantedBy=network-online.target
